body{
	 margin:0px; 
	 padding:0px;
	 background-color:#cddbe3;
}
img{
	border:2px solid #aa12fa;
	margin-top:10px;
	margin-left:20px;
	margin-right:15px;
	float:left;
}
h1{
	color:red;
}
h3{
	font-family:Consolas;
}
span{
	color:red;
}
a{
	border:2px solid black;
	text-align:center;
	padding:7px;
	text-decoration:none;
}